<footer>
    <div class="container">
        <div class="row">
            <div class="footer__wrapper">
                <div class="col-lg-2 footer__img">
                    <img src="./img/logo_footer.png">
                </div>
                <div class="col-lg-2 col-lg-offset-1 footer__title">
                    2016 / Все права защищены
                </div>
                <div class="col-lg-2 col-lg-offset-1 footer__text">
                    Политика конфиденциальности
                </div>
                <div class="col-lg-3 col-lg-offset-1">
                    <div class="footer__phone">
                        <img class="footer__img" src="./img/footer__phone.png">
                        <div class="footer__phone_link">
                            <a href="+749512321345" class="footer__link">
                                +7 (495) 12-321-345
                            </a>
                            <a href="+749512321345" class="footer__link">
                                +7 (495) 12-321-345
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>