<!DOCTYPE html>
<html lang="ru, en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>site__fourth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/global.min.css">
    <link rel="stylesheet" href="css/third.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>
        Site_fourth
    </title>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="header__wrapper">
                    <div class="header__logo">
                        <img src="./img/compas.png">
                    </div>
                    <nav class="header__nav">
                        <ul class="header__ul">
                            <a href="index.html">
                                <li class="header__ul_li">
                                    Главная
                                </li>
                            </a>
                            <a href="test.html">
                                <li class="header__ul_li">
                                    О компании
                                </li>
                            </a>
                            <a href="#">
                                <li class="header__ul_li">
                                    Внж и Пмж в Болгарии
                                </li>
                            </a>
                            <a href="third.html">
                                <li class="header__ul_li">
                                    Недвижимость и переезд
                                </li>
                            </a>
                            <a href="fourth.html">
                                <li class="header__ul_li">
                                    Контакты
                                </li>
                            </a>
                        </ul>
                    </nav>
                    <div class="header__phone">
                        <img src="./img/phone.png">
                        <div class="header__phone_link">
                            <a href="+749512321345" class="header__link">
                                +7 (495) 12-321-345
                            </a>
                        </div>
                    </div>
                    <div class="header__img">
                        <img src="./img/l.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="first">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header__title">
                    <span class="header__span">Недвижимость и переезд</span>
                </div>
            </div>
            <div class="header__button_img" >
                <a href="#">
                    <img src="./img/strelka.png">
                </a>
            </div>
        </div>
    </div>
</section>
<section id="moving">
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-xs-12">
            <div class="moving__wrapper">
                <div class="moving__title">
                    После того, как решены юридические вопросы с видом на жительство в Болгарии,
                    главной задачей становится
                    <br><span class="moving__title_span">
                найти новый дом или квартиру и организовать перевоз вещей
            </span>
                </div>
                <div class="moving__cover_top">
                    <div class="moving__img-first">
                        <img src="./img/home.png">
                    </div>
                    <div class="moving__text-first">
                        Мы подберем лучшие варианты для Вашей новой
                        <br>жизни и подходящие по ценовой категории - будь то
                        <br>квартира-студия для молодой пары, или роскошный
                        <br>дом на побережье для большой семьи.
                    </div>
                </div>
                <div class="moving__cover_bottom">
                    <div class="moving__text-second">
                        При переезде в другую страну всегда возникает
                        <br>вопрос - как перевозить все свои вещи? Мы готовы
                        <br>Вам помочь в перевозке личных вещей из РФ в
                        <br>Болгарию. Большой опыт в перевозке вещей поможет
                        <br>избежать лишних затрат и выбрать только надежные и
                        <br>аккуратные транспортные компании, что гарантирует
                        <br>сохранность Вашего имущества.
                    </div>
                    <div class="moving__img-second">
                        <img src="./img/box.png">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<section id="question">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-xs-12">
                <div class="question__logo">
                    Есть вопросы?
                </div>
                <div class="question__logo_title">
                    Закажите консультацию
                </div>
                <div class="question__photo">
                    <img class="question__img" src="./img/krug__bottom.png">
                </div>
                <div class="question__logo_text">
                    <input class="question__input" placeholder="Имя" type="text">
                    <input class="question__input" placeholder="E-mail" type="email">
                    <input class="question__input" placeholder="Телефон" type="tel">
                    <button class="question__button">
                        Заказать консультацию
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__wrapper">
                    <div class="footer__img">
                        <img src="./img/logo_footer.png">
                    </div>
                    <div class="footer__title">
                        2016 / Все права защищены
                    </div>
                    <div class="footer__text">
                        <a href="#" class="footer__text_link">
                            Политика конфиденциальности
                        </a>
                    </div>
                    <div class="">
                        <div class="footer__phone">
                            <img class="footer__img" src="./img/footer__phone.png">
                            <div class="footer__phone_link">
                                <a href="+749512321345" class="footer__link">
                                    +7 (495) 12-321-345
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>