@import "global";

body {
  font-family: MuseoSansCyrl, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: url("../img/polosa.png") no-repeat 50% -50%;
  background-size: cover;
  z-index: 5;
  position: relative;

  .row {
    display: flex;
    align-items: center;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r(1199) {
      justify-content: space-between;
    }
  }

  .header__nav {
    color: #FFFFFF;

    @include r(1199) {
      display: none;
    }

    @include r(767) {
      display: none;
    }
  }

  .header__ul {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    padding: 0;
  }

  .header__ul_li {
    margin-right: 10px;
    color: #FFFFFF;
    font-family: MuseoSansCyrl;
    font-size: 11px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: 1.1px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 5px;
    margin-right: 25px;

    &:hover {
      content: '';
      display: block;
      background: #365d71;
    }

    a {
      color: #FFFFFF;
    }
  }

  .header__phone {
    display: flex;
    align-items: center;

    @include r(1199) {
      display: flex;
    }

    @include r(767) {
      display: none;
    }
  }


  .header__phone_link {
    display: flex;
    flex-direction: column;

  }

  .header__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.32px;
    text-align: left;
  }

  .header__img {
    display: none;

    @include r(1199) {
      display: flex;
      justify-content: space-between;
    }

    @include r(767) {
      margin-left: 115px;
    }
  }


}

#first {
  background: url("../img/fon.png") no-repeat 25% 10%;
  background-size: cover;
  margin-top: -75px;
  z-index: 1;
  position: relative;

  @include r(1199) {
    background-size: auto;
  }

  .header__span {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 90px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: 41.4px;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);

    @include r(1199) {
      text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
      font-family: MuseoSansCyrl;
      font-size: 64px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: 29.44px;
      text-align: center;
      color: rgba(255, 255, 255, 0.91);
    }

    @include r(767) {
      font-size: 32px;
      letter-spacing: 20px;
    }

  }

  .header__title {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 90px;
    letter-spacing: 10.2px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
    text-transform: uppercase;
    margin-top: 204px;
    margin-bottom: 312px;

    @include r(1199) {
      text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
      font-family: MuseoSansCyrl;
      font-size: 44px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: 8.8px;
      text-align: center;
      color: rgba(255, 255, 255, 0.91);
    }

    @include r(767) {
      font-size: 30px;
    }
  }

  .header__title_second {
    font-family: MuseoSansCyrl;
    font-size: 51px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 10.2px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 84px;
    margin-bottom: 41px;
  }

  .header__button_img {
    position: absolute;
    bottom: 15%;
    left: 50%;

    @include r(1199) {
      left: 45%;
    }

  }

}

#benefits {
  .benefits__logo {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    line-height: 0.4;
    letter-spacing: 4.2px;
    text-align: center;
    color: #000;
    margin-top: 89px;
    text-transform: uppercase;

    @include r(1199) {
      margin-bottom: 41px;
    }

    @include r(767) {
      font-size: 37px;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 0;
    }
  }

  .benefits__row {
    display: flex;
    margin-top: 62px;
    margin-bottom: 97px;

    @include r(1199) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 0;
    }

  }

  .benefits__wrapper {
    text-align: center;
    box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
    background-color: #f4f4f4;
    //margin-left: 18px;
    //margin-top: 21px;
    padding: 58px 35px 60px 35px;
    max-height: 357px;

    @include r(1199) {
      max-height: none;
      height: 360px;
      margin-bottom: 21px;
    }

    @include r(767) {
      margin-top: 0;
      margin-bottom: 15px;
      width: 100%;
      height: 430px;
    }
  }

  .benefits__img {

    @include r(1199) {

    }
  }

  .benefits__title {
    font-family: MuseoSansCyrl;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin-top: 28px;
  }

  .benefits__title:after {
    content: '';
    display: block;
    border: solid 1px;
    margin-top: 17px;
    margin-bottom: 20px;
    width: 37px;
    margin-left: 125px;
    color: #c6c6c6;

    @include r(1199) {
      margin-left: 125px;
    }

  }

  .benefits__text {
    font-family: MuseoSansCyrl;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.29;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 157px;

    @include r(1199) {
      white-space: nowrap;
    }

    @include r(767) {
      white-space: normal;
    }
  }
}

#information {
  background: url("../img/fon__2.png");
  position: relative;
  @include r(1199) {
    margin-top: 99px;
  }

  @include r(767) {
    margin-top: 75px;
    padding: 0 18px 0 18px;
  }

  .wrapper {
    padding: 95px 0px 99px 0px;
  }

  .information__logo {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 4.2px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 29px;
  }

  .information__quote {
    font-family: MuseoSansCyrl;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 57px;

    .information__quote_span {
      font-size: 14px;
      font-weight: 900;
      font-style: normal;
      letter-spacing: 2.52px;
      text-transform: uppercase;
    }
  }

  .information__center {
    font-family: MuseoSansCyrl;
    line-height: 1.52;
    text-align: center;
    color: #fff;
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 1.9px;
    text-transform: uppercase;
    border: dashed 1px #fff;
    padding: 60px 40px;

    @include r(1199) {
      width: 740px;
      margin-left: 115px;
    }

    @include r(767) {
      width: 100%;
      margin: 0;
    }


    .information__img {
    position: absolute;
      left: 48%;
      top: 33%;

      @include r(767) {
        left: 43%;
        top: 34.5%;
      }
    }

    .information__img_second {
      position: absolute;
      left: 48%;
      bottom: 41%;

      @include r(767) {
        left: 43%;
        bottom: 34.5%;
      }
    }

    .information__center_span {
      font-size: 23px;
      font-weight: 900;
      letter-spacing: 2.3px;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      white-space: nowrap;

      @include r(767) {
        white-space: normal;
      }
    }
  }

  .information__answer {
    font-family: MuseoSansCyrl;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1.8px;
    text-align: center;
    color: #fff;
    margin-top: 71px;
    margin-bottom: 48px;

    @include r(767) {
      font-family: MuseoSansCyrl;
      font-size: 18px;
      font-weight: 100;
      line-height: 1.72;
      letter-spacing: 1.8px;
      text-align: center;
      color: #fff;
    }

    .information__answer_span {
      font-size: 37px;
      font-weight: 900;
      letter-spacing: 3.7px;
      text-transform: uppercase;

      @include r(767) {
        font-size: 32px;
        font-weight: 900;
        line-height: 0.46;
        letter-spacing: 3.7px;
        white-space: nowrap;
      }
    }
  }

  .information__button {
    color: #FFFFFF;
    text-align: center;
  }

  .button {
    padding: 12px 30px;
    font-family: MuseoSansCyrl;
    font-size: 15px;
    font-weight: 900;
    line-height: 2.33;
    letter-spacing: 1.5px;
    text-align: center;
    color: #fff;
    background: none;
    border: solid #fff;
    border-radius: 4px;
    text-transform: uppercase;
  }

}

#services {
  background: url("../img/city.png") no-repeat;
  background-size: cover;

  .services__logo {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    line-height: 0.4;
    letter-spacing: 4.2px;
    text-align: center;
    color: #000;
    margin-top: 108px;
    text-transform: uppercase;

    @include r(1199) {
      line-height: normal;
      margin-top: 65px;
    }

    @include r(767) {
      font-size: 35px;
      letter-spacing: normal;
    }

  }

  .services__img_first {
      position: absolute;
      z-index: 3;
      right: 39%;
      top: 23%;

    @include r(1199) {
      right: 35%;
      top: 24%;
    }

    @include r(767) {
      right: 6%;
      top: 19%;
    }

    }

    .services__img_second {
      position: absolute;
      z-index: 5;
      right: 42%;
      top: 16%;

      @include r(1199) {
        right: 40%;
        top: 18%;
      }

      @include r(767) {
        right: 22%;
        top: 14%;
      }

    }

  .services__text {
    font-family: MuseoSansCyrl;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
    background-color: #f4f4f4;
    padding: 70px 34px 43px 59px;
    margin-bottom: 10px;
    margin-top: 150px;
    z-index: 4;
    position: relative;
    width: 765px;
    margin-left: 170px;

    @include r(1199) {
      margin-left: 155px;
      width: 599px;
      padding-top: 55px;
    }

    @include r(767) {
      width: 100%;
      margin-left: 0;
      padding: 60px 39px 39px 34px;
    }

  }

  .services__text_span {
    font-family: MuseoSansCyrl;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .services__text-second {
    font-family: MuseoSansCyrl;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
    background-color: #f4f4f4;
    padding: 43px 25px;
    width: 765px;
    margin-left: 170px;

    @include r(1199) {
      margin-left: 155px;
      width: 599px;
    }

    @include r(767) {
      width: 100%;
      margin-left: 0;
      padding: 60px 39px 39px 34px;
    }

  }

  .services__img {
    position: absolute;
    right: 47%;
    top: 54%;
    z-index: 5;

    @include r(1199) {
      right: 47%;
      top: 58%;
    }

    @include r(767) {
      right: 41%;
      top: 58%;
    }

  }

  .services__button {
    text-align: center;

  }

  .button {
    padding: 12px 30px;
    font-family: MuseoSansCyrl;
    font-size: 15px;
    font-weight: 900;
    line-height: 2.33;
    letter-spacing: 1.5px;
    color: #23aae2;
    background: none;
    border: solid ;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 98px;

    @include r(1199) {
      margin-top: 38px;
      margin-bottom: 80px;
    }
  }
}

#review {

  .review__logo {
    text-transform: uppercase;
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 4.2px;
    text-align: center;
    color: #000;
    margin-bottom: 67px;
    margin-top: 89px;
  }

  .review__img_left {
    position: absolute;
    left: -20%;
    top: 50%;

    @include r(1199) {
      left: -13%;
    }

    @include r(767) {
      display: none;
    }

  }

  .review__img_wow {
    position: absolute;
    left: -8%;
    top: 20%;
    z-index: 3;

    @include r(767) {
      left: 28%;
      top: 5%;
    }

  }

  .review__img_right {
    position: absolute;
    right: -20%;
    top: 47%;

    @include r(1199) {
      right: -5%;
    }

    @include r(767) {
      display: none;
    }

  }

  .review__cover {
    padding: 46px 41px 47px 128px;

    @include r(1199) {
      padding: 46px 41px 47px 80px;
    }

    @include r(767) {
      padding: 174px 36px 44px 35px;
    }
  }

  .review__wrapper {
    box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
    background-color: #fff;
    z-index: 1;
    position: relative;
  }

  .review__title {
    display: flex;
    justify-content: space-between;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.06;
    letter-spacing: 1.6px;
    text-align: left;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 28px;

    @include r(1199) {
      flex-wrap: wrap;
      justify-content: end;
    }

    @include r(767) {
      text-align: center;
      display: flex;
      justify-content: center;
    }

  }

  .review__link {
    font-family: MuseoSansCyrl;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.67;
    letter-spacing: 1.2px;
    text-align: left;
    color: #23aae2;
    text-transform: uppercase;

    @include r(1199) {
      margin-left: 28px;
    }

  }

  .review__title_text {
    font-family: MuseoSansCyrl;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.42;
    letter-spacing: 1.2px;
    text-align: left;
    color: #23aae2;

    @include r(1199) {
      width: 100%;
    }

    @include r(767) {
      text-align: center;
    }

  }

  .review__text {
    font-family: MuseoSansCyrl-100;
    font-size: 14px;
    font-style: italic;
    line-height: 1.43;
    letter-spacing: 1.4px;
    text-align: left;
    color: #363636;
    width: 595px;

    @include r(1199) {
      width: 100%;
    }

    @include r(767) {
      text-align: center;
    }
  }

  .review__bottom {
    margin-top: 51px;
    margin-bottom: 89px;
    margin-left: 590px;

    @include r(1199) {
      margin-bottom: 61px;
      margin-left: 425px;
    }

    @include r(767) {
      margin-left: 138px;
    }
  }
}

#question {
  background: url("../img/fon__bottom.png") no-repeat;
  background-size: cover;

  .question__logo {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.17;
    letter-spacing: 4.2px;
    text-align: center;
    color: #fff;
    margin-top: 84px;
    text-transform: uppercase;
  }

  .question__logo_title {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
    color: #fff;
    text-transform: uppercase;
  }

  .question__photo {
    text-align: center;
  }

  .question__img {
    margin-bottom: 30px;
  }

  .question__logo_text {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 0 auto;

    @include r(767) {
      width: 100%;
    }
  }

  .question__input {
    padding: 15px 10px 15px 30px;
    border-radius: 3px;
    border: solid 1px #fff;
    background-color: #30c2ff;
    text-transform: uppercase;
    font-family: MuseoSansCyrl;
    font-size: 13px;
    font-weight: 300;
    line-height: 2.69;
    letter-spacing: 1.3px;
    text-align: left;
    margin-bottom: 10px;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.56);
    }

    &:hover {
      box-shadow: 0 0 35px 0 rgba(14, 14, 14, 0.3);
      border: solid 1px #fff;
      background-color: #30c2ff;
    }
  }

  .question__button {
    font-family: MuseoSansCyrl;
    font-size: 15px;
    font-weight: 900;
    line-height: 2.33;
    letter-spacing: 1.5px;
    text-align: center;
    color: #fff;
    background: 0 0;
    border: solid #fff;
    padding: 15px 60px 15px 60px;
    margin-top: 20px;
    margin-bottom: 84px;
    border-radius: 3px;

    @include r(767) {
      white-space: nowrap;
      padding: 15px 30px;
    }
  }
}

footer {
  background: url("../img/footer.png") no-repeat center bottom;
  background-size: cover;

  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__title {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.21;
    text-align: center;
    color: rgba(250, 247, 247, 0.76);
  }

  .footer__text {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.21;
    text-align: center;
    color: rgba(250, 247, 247, 0.76);
    white-space: nowrap;

    @include r(767) {
      display: none;
    }
  }

  .footer__text_link {
    color: #FFFFFF;
    text-decoration: none;
  }

  footer__text_link:after {
    content: '';
    display: block;
    border: #fff dashed 1px;

  }

  .footer__phone {
    display: flex;
    align-items: center;

    @include r(1199) {
      display: none;
    }

  }

  .footer__img {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  .footer__phone_link {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.32px;
    text-align: left;
  }


}








