@import "global";

body {
  font-family: MuseoSansCyrl, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: url("../img/polosa.png") no-repeat 50% -115%;
  z-index: 5;
  position: relative;

  .row {
    display: flex;
    align-items: center;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 7px;
  }

  .header__nav {
    color: #FFFFFF;
  }

  .header__ul {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    padding: 0;

    @include r(1199) {
      display: none;
    }
  }

  .header__ul_li {
    margin-right: 10px;
    color: #FFFFFF;
    font-family: MuseoSansCyrl;
    font-size: 11px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: 1.1px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 5px;
    margin-right: 25px;

    &:hover {
      content: '';
      display: block;
      background: #365d71;
    }
  }

  .header__phone {
    display: flex;
    align-items: center;

    @include r(1199) {
      margin-right: -220px;
    }

    @include r(767) {
      display: none;
    }
  }


  .header__phone_link {
    display: flex;
    flex-direction: column;

  }

  .header__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.32px;
    text-align: left;
  }

  .header__img {
    display: none;

    @include r(1199) {
      display: block;
    }

    @include r(767) {
      display: block;
    }
  }

  .header__span {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 51px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: 10.2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);

  }

  .header__title {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 51px;
    letter-spacing: 10.2px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
    text-transform: uppercase;
    margin-top: 84px;
    margin-bottom: 200px;
  }

  .header__title_second {
    font-family: MuseoSansCyrl;
    font-size: 51px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 10.2px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 84px;
    margin-bottom: 41px;
  }

  .header__button_img {
    position: absolute;
    bottom: 28%;
    left: 50%;

    @include r(767) {
      bottom: 25%;
      left: 43%;
    }
  }

}

#first {
  background: url("../img/fon.png") no-repeat 25% 10%;
  margin-top: -75px;
  z-index: 1;
  position: relative;

  .header__span {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 51px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: 10.2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);

    @include r(767) {
      font-size: 45px;
    }
  }

  .header__title {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 51px;
    letter-spacing: 10.2px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
    text-transform: uppercase;
    margin-top: 161px;
    margin-bottom: 213px;
  }

  .header__title_second {
    font-family: MuseoSansCyrl;
    font-size: 51px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 10.2px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 84px;
    margin-bottom: 41px;
  }

  .header__button_img {
    position: absolute;
    bottom: 28%;
    left: 50%;

    @include r(767) {
      bottom: 27%;
      left: 44%;
    }
  }

}

#partner {
  background-color: #f7f7f7;

  .partner__cover {
    background-color: #fff;
    margin-top: -70px;
    margin-bottom: 79px;
    z-index: 6;
    position: relative;

    @include r(1199) {
      margin-top: 0;
      background-color: #f7f7f7;
    }

    @include r(767) {
      background-color: #FFFFFF;
    }
  }

  .partner__logo {
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    padding-top: 50px;
  }

  .partner__logo_text {
    font-weight: 900;
  }

  .partner__center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 65px 0 58px 0;

    @include r(1199) {
      justify-content: space-evenly;
      margin: 65px 0 58px 0;
      padding: 0;
    }

    @include r(767) {
      flex-direction: column;
    }
  }

  .partner__title {
    font-family: MuseoSansCyrl;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000;
    text-transform: uppercase;

    @include r(767) {
      margin-bottom: 20px;
    }
  }

  .partner__title_text {
    font-size: 39px;
    letter-spacing: 3.9px;
    color: #23aae2;
  }

  .partner__text {
    font-family: MuseoSansCyrl;
    font-size: 19.5px;
    font-weight: 100;
    letter-spacing: 10.53px;
    text-align: left;
    color: #bdbdbd;
    white-space: nowrap;
    text-transform: uppercase;

    @include r(767) {
      margin-bottom: 20px;
    }
  }

  .partner__item {
    font-family: MuseoSansCyrl;
    font-size: 29px;
    font-weight: 900;
    text-align: left;
    color: #000;
    text-transform: uppercase;
  }

  .partner__items {
    white-space: nowrap;
    letter-spacing: 3px;
    color: #23aae2;
  }

  .partner__div {
    font-family: MuseoSansCyrl;
    font-size: 23px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: 2.76px;
    text-align: center;
    color: #fff;
    background: #23aae2;
    padding: 30px 360px 30px 350px;
    box-shadow: 0px 3px 1px 0 rgba(159, 160, 160, 0.18);
    white-space: nowrap;
    border: #FFFFFF;
    margin-bottom: 65px;

    @include r(1199) {
      width: 100%;
      padding: 30px 145px 30px 150px;
    }

    @include r(767) {
      padding: 30px 0 30px 10px;
    }
  }

  .partner__center_title {
    font-family: MuseoSansCyrl;
    font-size: 29px;
    font-weight: 900;
    letter-spacing: 2.9px;
    text-align: center;
    color: rgba(0, 0, 0, 0.99);
    white-space: nowrap;
    margin-bottom: 50px;
    text-transform: uppercase;

    @include r(767) {
      white-space: normal;
    }
  }

  .partner__block_wrapper {
    display: flex;
    justify-content: space-evenly;

    @include r(767) {
      flex-direction: column;
    }
  }

  .partner__wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
    background-color: #f4f4f4;
    width: 433px;
    height: 510px;
    margin-bottom: 74px;

    @include r(1199) {
      margin-right: 19px;
      width: 360px;
      height: 600px;
    }
  }

  .partner__wrapper_second {
    box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
    background-color: #f4f4f4;
    width: 433px;
    height: 510px;

    @include r(1199) {
      width: 360px;
      height: 600px;
      font-size: 15px;
    }
  }

  .partner__wrapper_img {
    margin-left: 140px;
    margin-bottom: 30px;
    margin-top: 37px;
    width: 134px;
    height: 134px;

    @include r(1199) {
      margin-left: 120px;
    }
  }

  .partner__wrapper_title {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 900;
    letter-spacing: 1.68px;
    text-align: center;
    color: #000;
  }

  .partner__wrapper_title:after {
    content: '';
    display: block;
    border: solid 1px;
    width: 37px;
    opacity: 0.19;
    background-color: #000;
    margin-left: 198px;
    margin-top: 18px;
    margin-bottom: 5px;

    @include r(1199) {
      margin-left: 170px;
    }
  }

  .partner__wrapper_text {
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.44;
    letter-spacing: 0.32px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 33px 41px 33px;

    @include r(1199) {
      width: 360px;
      font-size: 15px;
    }
  }
  }

#question {
  background: url("../img/fon__bottom.png") no-repeat;
  background-size: cover;

  .question__logo {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.17;
    letter-spacing: 4.2px;
    text-align: center;
    color: #fff;
    margin-top: 84px;
    text-transform: uppercase;
  }

  .question__logo_title {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
    color: #fff;
    text-transform: uppercase;
  }

  .question__photo {
    text-align: center;
  }

  .question__img {
    margin-bottom: 30px;
  }

  .question__logo_text {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 0 auto;
  }

  .question__input {
    padding: 15px 10px 15px 30px;
    border-radius: 3px;
    border: solid 1px #fff;
    background-color: #30c2ff;
    text-transform: uppercase;
    font-family: MuseoSansCyrl;
    font-size: 13px;
    font-weight: 300;
    line-height: 2.69;
    letter-spacing: 1.3px;
    text-align: left;
    margin-bottom: 10px;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.56);
    }

    &:hover {
      box-shadow: 0 0 35px 0 rgba(14, 14, 14, 0.3);
      border: solid 1px #fff;
      background-color: #30c2ff;
    }

    @include r(767) {
      width: 350px;
    }
  }

  .question__button {
    font-family: MuseoSansCyrl;
    font-size: 15px;
    font-weight: 900;
    line-height: 2.33;
    letter-spacing: 1.5px;
    text-align: center;
    color: #fff;
    background: 0 0;
    border: solid #fff;
    padding: 15px 60px 15px 60px;
    margin-top: 20px;
    margin-bottom: 84px;
    border-radius: 3px;

    @include r(767) {
      width: 350px;
    }
  }
}

footer {
  background: url("../img/footer.png") no-repeat center bottom;

  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__title {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.21;
    text-align: center;
    color: rgba(250, 247, 247, 0.76);
  }

  .footer__text {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.21;
    text-align: center;
    color: rgba(250, 247, 247, 0.76);
    white-space: nowrap;

    @include r(767) {
      display: none;
    }
  }

  .footer__text_link {
    color: #FFFFFF;
    text-decoration: none;
  }

  .footer__text_link:after {
    content: '';
    display: block;
    border: #fff dashed 1px;
    opacity: 0.61;
  }

  .footer__phone {
    display: flex;
    align-items: center;

    @include r(1199) {
      display: none;
    }
  }

  .footer__img {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  .footer__phone_link {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.32px;
    text-align: left;
  }


}
