@import "global";

body {
  font-family: MuseoSansCyrl, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: url("../img/fon.png") no-repeat 25% 10%;

  .row {
    display: flex;
    align-items: center;
    background: url("../img/polosa.png") no-repeat 50% -115%;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .header__nav {
    color: #FFFFFF;
  }

  .header__ul {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    padding: 0;
  }

  .header__ul_li {
    margin-right: 10px;
    color: #FFFFFF;
    font-family: MuseoSansCyrl;
    font-size: 11px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: 1.1px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 5px;
    margin-right: 25px;

    &:hover {
      content: '';
      display: block;
      background: #365d71;
    }
  }

  .header__phone {
    display: flex;
    align-items: center;
  }


  .header__phone_link {
    display: flex;
    flex-direction: column;

  }

  .header__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.32px;
    text-align: left;
  }

  .header__link:after {
    content: '';
    display: block;
    border: dashed 1px;
    color: #FFFFFF;
  }

  .header__span {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 51px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: 10.2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
  }

  .header__title {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 51px;
    letter-spacing: 10.2px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
    text-transform: uppercase;
    margin-top: 84px;
    margin-bottom: 200px;
  }

  .header__title_second {
    font-family: MuseoSansCyrl;
    font-size: 51px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 10.2px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 84px;
    margin-bottom: 41px;
  }

  .header__button_img {
    position: absolute;
    bottom: 28%;
    left: 50%;
  }

}

#partner {
  background-color: #f7f7f7;

  .partner__cover {
    background-color: #fff;
    margin-top: -70px;
    margin-bottom: 79px;
  }

  .partner__logo {
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    padding-top: 50px;
  }

  .partner__logo_text {
    font-weight: 900;
  }

  .partner__center {
    display: flex;
  }

  .partner__title {
    font-family: MuseoSansCyrl;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000;
    text-transform: uppercase;
    margin-top: 72px;
    margin-left: 154px;
    margin-right: 42px;
  }

  .partner__title_text {
    font-size: 39px;
    letter-spacing: 3.9px;
    color: #23aae2;
  }

  .partner__text {
    font-family: MuseoSansCyrl;
    font-size: 19.5px;
    font-weight: 100;
    letter-spacing: 10.53px;
    text-align: left;
    color: #bdbdbd;
    margin-top: 100px;
    white-space: nowrap;
    text-transform: uppercase;
  }

  .partner__item {
    font-family: MuseoSansCyrl;
    font-size: 29px;
    font-weight: 900;
    letter-spacing: 3.6px;
    text-align: left;
    color: #000;
    margin-top: 70px;
    margin-left: 45px;
    margin-bottom: 60px;
    text-transform: uppercase;
  }

  .partner__items {
    white-space: nowrap;
    letter-spacing: 3px;
    color: #23aae2;
  }

  .partner__button {
    font-family: MuseoSansCyrl;
    font-size: 23px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: 2.76px;
    text-align: center;
    color: #fff;
    background: #23aae2;
    padding: 30px 360px 30px 350px;
    box-shadow: 0px 3px 1px 0 rgba(159, 160, 160, 0.18);
    white-space: nowrap;
    border: #FFFFFF;
    margin-bottom: 65px;
    width: 1015px;
  }

  .partner__center_title {
    font-family: MuseoSansCyrl;
    font-size: 29px;
    font-weight: 900;
    letter-spacing: 2.9px;
    text-align: center;
    color: rgba(0, 0, 0, 0.99);
    white-space: nowrap;
    margin-bottom: 50px;
  }

  .partner__block_wrapper {
    display: flex;
  }

  .partner__wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
    background-color: #f4f4f4;
    width: 433px;
    height: 510px;
    margin-left: 60px;
    margin-bottom: 74px;
  }

  .partner__wrapper_second {
    margin-left: 31px;
    box-shadow: 1px 1.7px 4px 0 rgba(149, 147, 147, 0.33);
    background-color: #f4f4f4;
    margin-bottom: 74px;
    width: 433px;
    height: 510px;
  }

  .partner__wrapper_img {
    margin-left: 140px;
    margin-bottom: 30px;
    margin-top: 37px;
    width: 134px;
    height: 134px;
  }

  .partner__wrapper_title {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 900;
    letter-spacing: 1.68px;
    text-align: center;
    color: #000;
  }

  .partner__wrapper_title:after {
    content: '';
    display: block;
    border: solid 1px;
    width: 37px;
    opacity: 0.19;
    background-color: #000;
    margin-left: 198px;
    margin-top: 18px;
    margin-bottom: 5px;
  }

  .partner__wrapper_text {
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.44;
    letter-spacing: 0.32px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 33px 41px 33px;
    width: 433px;
    height: 222px;
  }
  }

#question {
  background: url("../img/fon__bottom.png") no-repeat;
  background-size: cover;

  .question__logo {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.17;
    letter-spacing: 4.2px;
    text-align: center;
    color: #fff;
    margin-top: 84px;
    text-transform: uppercase;
  }

  .question__logo_title {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
    color: #fff;
    text-transform: uppercase;
  }

  .question__img {
    margin-left: 395px;
    margin-bottom: 30px;
  }

  .question__logo_text {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-left: 230px;
  }

  .question__input {
    padding: 15px 170px 15px 30px;
    border-radius: 3px;
    border: solid 1px #fff;
    background-color: #30c2ff;
    text-transform: uppercase;
    font-family: MuseoSansCyrl;
    font-size: 13px;
    font-weight: 300;
    line-height: 2.69;
    letter-spacing: 1.3px;
    text-align: left;
    margin-bottom: 10px;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.56);
    }
  }

  .question__button {
    font-family: MuseoSansCyrl;
    font-size: 15px;
    font-weight: 900;
    line-height: 2.33;
    letter-spacing: 1.5px;
    text-align: center;
    color: #fff;
    background: 0 0;
    border: solid #fff;
    padding: 15px 60px 15px 60px;
    margin-top: 20px;
    margin-bottom: 84px;
    border-radius: 3px;
  }
}

footer {
  background: url("../img/footer.png") no-repeat center bottom;

  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__title {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.21;
    text-align: center;
    color: rgba(250, 247, 247, 0.76);
  }

  .footer__text {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.21;
    text-align: center;
    color: rgba(250, 247, 247, 0.76);
    white-space: nowrap;
  }

  .footer__text_link {
    color: #FFFFFF;
    text-decoration: none;
  }

  footer__text_link:after {
    content: '';
    display: block;
    border: #fff dashed 1px;

  }

  .footer__phone {
    display: flex;
    align-items: center;
  }

  .footer__img {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  .footer__phone_link {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.32px;
    text-align: left;
  }


}
