@import "global";

body {
  font-family: MuseoSansCyrl, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: url("../img/fon.png") no-repeat 25% 10%;

  .row {
    display: flex;
    align-items: center;
    background: url("../img/polosa.png") no-repeat 50% -115%;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .header__nav {
    color: #FFFFFF;
  }

  .header__ul {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    padding: 0;
  }

  .header__ul_li {
    color: #FFFFFF;
    font-family: MuseoSansCyrl;
    font-size: 11px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: 1.1px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 5px;
    margin-right: 25px;

    &:hover {
      content: '';
      display: block;
      background: #365d71;
    }
  }

  .header__phone {
    display: flex;
    align-items: center;
  }


  .header__phone_link {
    display: flex;
    flex-direction: column;

  }

  .header__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.32px;
    text-align: left;
  }

  .header__link:after {
    content: '';
    display: block;
    border: dashed 1px;
    color: #FFFFFF;
  }

  .header__span {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 51px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: 10.2px;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
  }

  .header__title {
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    font-family: MuseoSansCyrl;
    font-size: 51px;
    letter-spacing: 10.2px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    text-align: center;
    color: rgba(255, 255, 255, 0.91);
    text-transform: uppercase;
    margin-top: 84px;
    margin-bottom: 200px;
  }

  .header__title_second {
    font-family: MuseoSansCyrl;
    font-size: 51px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 10.2px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 84px;
    margin-bottom: 41px;
  }

  .header__button_img {
    position: absolute;
    bottom: 28%;
    left: 50%;
  }

}

#moving {
  background-color: #f7f7f7;

  .moving__wrapper {
    box-shadow: 0px 3px 1px 0 rgba(159, 160, 160, 0.18);
    background-color: #fff;
    margin-top: -65px;
    margin-bottom: 88px;
  }

  .moving__title {
    font-family: MuseoSansCyrl;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.41;
    letter-spacing: 0.34px;
    text-align: center;
    color: #000;
    padding-top: 46px;
    margin-bottom: 58px;
  }

  .moving__title_span {
    font-weight: 900;
  }

  .moving__cover_top {
    display: flex;
  }

  .moving__img-first {
    margin-left: 88px;
    margin-right: 52px;
  }

  .moving__text-first {
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.44;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 30px;
    margin-bottom: 57px;
  }

  .moving__cover_bottom {
    display: flex;
  }

  .moving__text-second {
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.44;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    margin: 108px 79px 121px 79px;
  }

  .moving__img-second {
    margin-top: 20px;
    margin-bottom: 65px;
  }

}

#question {
  background: url("../img/fon__bottom.png") no-repeat;
  background-size: cover;

  .question__logo {
    font-family: MuseoSansCyrl;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.17;
    letter-spacing: 4.2px;
    text-align: center;
    color: #fff;
    margin-top: 84px;
    text-transform: uppercase;
  }

  .question__logo_title {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
    color: #fff;
    text-transform: uppercase;
  }

  .question__img {
    margin-left: 395px;
    margin-bottom: 30px;
  }

  .question__logo_text {
    font-family: MuseoSansCyrl;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.29;
    letter-spacing: 2.1px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-left: 230px;
  }

  .question__input {
    padding: 15px 170px 15px 30px;
    border-radius: 3px;
    border: solid 1px #fff;
    background-color: #30c2ff;
    text-transform: uppercase;
    font-family: MuseoSansCyrl;
    font-size: 13px;
    font-weight: 300;
    line-height: 2.69;
    letter-spacing: 1.3px;
    text-align: left;
    margin-bottom: 10px;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.56);
    }
  }

  .question__button {
    font-family: MuseoSansCyrl;
    font-size: 15px;
    font-weight: 900;
    line-height: 2.33;
    letter-spacing: 1.5px;
    text-align: center;
    color: #fff;
    background: 0 0;
    border: solid #fff;
    padding: 15px 60px 15px 60px;
    margin-top: 20px;
    margin-bottom: 84px;
    border-radius: 3px;
  }
}

footer {
  background: url("../img/footer.png") no-repeat center bottom;

  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__title {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.21;
    text-align: center;
    color: rgba(250, 247, 247, 0.76);
  }

  .footer__text {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.21;
    text-align: center;
    color: rgba(250, 247, 247, 0.76);
    white-space: nowrap;
  }

  .footer__text_link {
    color: #FFFFFF;
    text-decoration: none;
  }

  footer__text_link:after {
    content: '';
    display: block;
    border: #fff dashed 1px;

  }

  .footer__phone {
    display: flex;
    align-items: center;
  }

  .footer__img {
    padding-top: 14px;
    padding-bottom: 17px;
  }

  .footer__phone_link {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.32px;
    text-align: left;
  }


}
